<legend>Edit</legend>
<div style="
    position: absolute;
    width: 600px;
    height: 300px;
    left: 50%;
    top:50%;
    margin-left: -300px;
    margin-top: 60px;
">
<%= render 'form' %>
</div>